html, body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

.text-muted {
    font-size: .85rem;
    color: #555555;
    margin-bottom: 1rem;
}

/* RESULT CARD */

.result-card {
    text-align: center;
}

.result-card img {
    height: 100px;
    width: auto;
    margin-bottom: 1.2rem;
}

.result-card h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .9rem;
}

/* INPUT */

.input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 40px;
    padding: 0 15px;
    outline: 1px solid #CCCCCC;
    width: 100%;
    box-sizing: border-box;
}

/* BUTTON */

.button {
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

/* make button darkish after hover */

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.is-primary {
    background-color: #FF8D00;
}

.is-grey {
    background: #EEEEEE;
    color: #555555;
}

/* TABLE */

.__area-heading{
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    padding: 2rem 1rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.table th {
    color: #555555;
    font-size: 14px;
}

.table td, .table th {
    /* 1px box-shadow bottom */
    box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.1);
    padding: .9rem;
}

.table tr:nth-child(even) {
    /* background-color: #f2f2f2; */
}

.table tr:hover {
    /* background-color: #ddd; */
}

.table th {
    padding-top: .9rem;
    padding-bottom: .9rem;
    text-align: left;
}

/* TAGS */

.tag {
    background: #EEEEEE;
    border-radius: 1rem;
    padding: .5rem 16px;
    text-align: center;
    display: inline-block;
}